/* layout */

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-auto-rows: 400px;
	grid-gap: 16px;
	grid-auto-flow: dense;
}

#filters_events,
#filters_events > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}

#filters_events {
	margin: 50px auto;
	background-color: lightgray;
	padding: 15px;
}

#filters_events,
#filters_events > div {
	gap: 25px;
}

/* styling */

select {
	height: 26px;
}

.card--hidden {
	display: none;
}

#section_events {
	font-size: 1.5rem;

	.card {
		cursor: pointer;
		overflow: hidden;
		position: relative;
		background-color: #f3f4f4;

		.type {
			width: 100%;
			padding: 5px;
			background-color: rgb(170, 170, 170);
			color: white;
		}
		.image {
			width: 100%;
			height: 200px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.content {
			padding: 20px;

			.title {
				font-size: 1.5rem;
				font-weight: bold;
				margin-bottom: 1rem;
				margin-top: 0;
			}

			.dates,
			.location {
				font-size: 0.9rem;
				color: #1b1b1b;
				margin: 0;
			}
		}
	}
}
